body {
    background: #1A1A1A;
    color: white;
    font-family: sans-serif;
}

.gold-text {
    color: #FBBD18;
}

h1 {
    font-size: 28px;
    padding-left: 40px;
    padding-top: 10px;
    word-wrap: break-word;
    color: white;
}

p {
    font-size: 13px;
    line-height: normal;
    padding-left: 40px;
    padding-right: 40px;
}

#button-wrap {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.button {
    font-size: 11px;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    background-color: white;
    border: none;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #FBBD18;
    color: black;
    border: none;
}

ul {
    display: block;
    margin: auto;
    width: 90%;
    font-size: 0;
}

li {
    width: 115px;
    height: 138px;
    display: inline-block;
    padding: none;
    list-style: none;
    position: relative;
    border: 1px solid #1A1A1A;
}

img {
    opacity: 0.4;
    transition: opacity 0.4s ease-in;
}

img:hover {
    opacity: 1;
    transition: opacity 0.4s ease-in;
}

.overlay {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
}

ul > #streep .overlay {
    width: 85px;
    height: 100px;
    background-color: rgba(251, 191, 24, 0.4);
    /* just for testing */
}

#winner {
    margin: 0;
    padding: 3px;
    border-bottom: 1px solid #1A1A1A;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    background-color: #FBBD18;
    color: black;
}

#nominee {
    margin: 0;
    padding: 3px;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #1A1A1A;
    background-color: white;
    color: black;
}

.modal {
    position: absolute;
    z-index: 1000;
}